<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Lab5</servlet-name>
        <servlet-class>Lab5</servlet-class>
        <init-param>
            <param-name>Mobile</param-name>
            <param-value>One-Plus6T</param-value>
            <init-value>One-Plus6T</init-value>
        </init-param>
        <init-param>
            <param-name>city</param-name>
            <param-value>Banglore</param-value>
        </init-param>
        <init-value>One-Plus6T</init-value>
        <init-value/>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>c.java</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lab5</servlet-name>
        <url-pattern>/Lab5</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>name</param-name>
        <param-value>Siddharth</param-value>
    </context-param>
    <context-param>
        <param-name>USN</param-name>
        <param-value>1RD19MCA08</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
